<div class="py-2 flex">
    <form action="/products" method="post" class="flex flex-1" id="applyFiltersForm">
        <ul class="flex flex-wrap justify-between flex-grow px-4">
            <li class="p-2 px-4 relative basis-4/12 xl:basis-3/12">
                <button type="button" id="colorsButton" class="text-xl font-bold hover:text-[#ed4264] dark:hover:text-[#eacda3]">COLORS <span class="rotate-[90deg] inline-block ">&#8227;</span></button>
                <div id="colorsSelect" class="flex flex-wrap gap-1 my-2 hidden">
                    <div class="flex flex-col gap-1">
                        <div class="flex" id="">
                            <input class="productFilterColorsCheckboxClass peer form-checkbox rounded-md absolute hidden" type="checkbox" name=""  id="productFilterColorBright0Checkbox" value="hsla(0deg 0% 100%)">
                            <label style="background-color: hsla(0deg 0% 100%);" id="" for="productFilterColorBright0Checkbox" class="w-2 h-2 rounded-full p-2 border-2 border-solid border-gray-400 peer-checked:border-[#ed4264] dark:peer-checked:border-[#eacda3]"></label>
                        </div>
                        <div class="flex" id="">
                            <input class="productFilterColorsCheckboxClass peer form-checkbox rounded-md absolute hidden" type="checkbox" name=""  id="productFilterColorDark1Checkbox" value="hsla(0deg, 0%, 0%)">
                            <label style="background-color: hsla(0deg, 0%, 0%)" id="" for="productFilterColorDark1Checkbox" class="w-2 h-2 rounded-full p-2 border-2 border-solid border-gray-400 peer-checked:border-[#ed4264] dark:peer-checked:border-[#eacda3]"></label>
                        </div>
                    </div>
                    <div class="flex flex-col gap-1">
                        <div class="flex" id="">
                            <input class="productFilterColorsCheckboxClass peer form-checkbox rounded-md absolute hidden" type="checkbox" name=""  id="productFilterColorBright2Checkbox" value="hsla(0deg 0% 33%)">
                            <label style="background-color: hsla(0deg 0% 33%);" id="" for="productFilterColorBright2Checkbox" class="w-2 h-2 rounded-full p-2 border-2 border-solid border-gray-400 peer-checked:border-[#ed4264] dark:peer-checked:border-[#eacda3]"></label>
                        </div>
                        <div class="flex" id="">
                            <input class="productFilterColorsCheckboxClass peer form-checkbox rounded-md absolute hidden" type="checkbox" name=""  id="productFilterColorDark3Checkbox" value="hsla(0deg 0% 16%)">
                            <label style="background-color: hsla(0deg 0% 16%);" id="" for="productFilterColorDark3Checkbox" class="w-2 h-2 rounded-full p-2 border-2 border-solid border-gray-400 peer-checked:border-[#ed4264] dark:peer-checked:border-[#eacda3]"></label>
                        </div>
                    </div>  
                    <% for( let i = 0; i*30 <= 330; i++) { %>
                        <div class="flex flex-col gap-1">
                            <div class="flex" id="">
                                <input class="productFilterColorsCheckboxClass peer form-checkbox rounded-md absolute hidden" type="checkbox" name=""  id="productFilterColorBright<%-i+4%>Checkbox" value="hsla(<%-i*30%>deg 100% 33%)">
                                <label style="background-color: hsla(<%-i*30%>deg 100% 33%);" id="" for="productFilterColorBright<%-i+4%>Checkbox" class="w-2 h-2 rounded-full p-2 border-2 border-solid border-gray-400 peer-checked:border-[#ed4264] dark:peer-checked:border-[#eacda3]"></label>
                            </div>
                            <div class="flex" id="">
                                <input class="productFilterColorsCheckboxClass peer form-checkbox rounded-md absolute hidden" type="checkbox" name=""  id="productFilterColorDark<%-i+4%>Checkbox" value="hsla(<%-i*30%>deg 100% 16%)">
                                <label style="background-color: hsla(<%-i*30%>deg 100% 16%);" id="" for="productFilterColorDark<%-i+4%>Checkbox" class="w-2 h-2 rounded-full p-2 border-2 border-solid border-gray-400 peer-checked:border-[#ed4264] dark:peer-checked:border-[#eacda3]"></label>
                            </div>
                        </div>  
                    <% } %>       
                    <div class="flex flex-col gap-1">
                        <div class="flex" id="">
                            <input class="productFilterColorsCheckboxClass peer form-checkbox rounded-md absolute hidden" type="checkbox" name=""  id="productFilterColorBrightTransparentCheckbox" value="transparent">
                            <label style="background-image: 
                            linear-gradient(90deg, #999 4px, white 4px),
                            linear-gradient(90deg, white 4px, #999 4px),
                            linear-gradient(90deg, #999 4px, white 4px),
                        linear-gradient(90deg, white 4px, #999 4px);
                        background-position: 0 0, 0 4px, 0 8px, 0 12px;
                        background-repeat: repeat-x;
                        background-size: 8px 4px;" id="" for="productFilterColorBrightTransparentCheckbox" class="w-2 h-2 rounded-full p-2 border-2 border-solid border-gray-400 peer-checked:border-[#ed4264] dark:peer-checked:border-[#eacda3]"></label>
                        </div>
                    </div>             
                </div>
            </li>
            <li class="p-2 px-4 relative basis-4/12 xl:basis-3/12">
                <button type="button" id="categoryButton" class="text-xl font-bold hover:text-[#ed4264] dark:hover:text-[#eacda3]">CATEGORIES <span class="rotate-[90deg] inline-block ">&#8227;</span></button>
                <div class="flex flex-wrap gap-2 my-2 hidden" id="categorySelect">
                    <div class="">
                        <div class="flex">
                            <input type="checkbox" value="unissex" name="productUnissex" id="productFilterUnissex" class="productFilterCategoriesCheckboxClass peer form-checkbox rounded-md hidden">
                            <label for="productFilterUnissex" class="px-4 py-2 border-b-2 border-teal-400 text-teal-400 font-medium opacity-50 peer-checked:opacity-100">UNISSEX</label>
                        </div>
                    </div>
                    <div class="">
                        <div class="flex">
                            <input type="checkbox" value="men" name="productMen" id="productFilterMen" class="productFilterCategoriesCheckboxClass peer form-checkbox rounded-md hidden">
                            <label for="productFilterMen" class="px-4 py-2 border-b-2 border-cyan-400 text-cyan-400 font-medium opacity-50 peer-checked:opacity-100">MEN</label>
                        </div>
                    </div>
                    <div class="">
                        <div class="flex">
                            <input type="checkbox" value="women" name="productWomen" id="productFilterWomen" class="productFilterCategoriesCheckboxClass peer form-checkbox rounded-md hidden">
                            <label for="productFilterWomen" class="px-4 py-2 border-b-2 border-purple-400 text-purple-400 font-medium opacity-50 peer-checked:opacity-100">WOMEN</label>
                        </div>
                    </div>
                    <div class="">
                        <div class="flex">
                            <input type="checkbox" value="kids" name="productKids" id="productFilterKids" class="productFilterCategoriesCheckboxClass peer form-checkbox rounded-md hidden">
                            <label for="productFilterKids" class="px-4 py-2 border-b-2 border-orange-400 text-orange-400 font-medium opacity-50 peer-checked:opacity-100">KIDS</label>
                        </div>
                    </div>
                </div>
            </li>
            <li class="p-2 px-4 relative basis-4/12 xl:basis-3/12">
                <button type="button" id="materialButton" class="text-xl font-bold hover:text-[#ed4264] dark:hover:text-[#eacda3]">MATERIALS <span class="rotate-[90deg] inline-block ">&#8227;</span></button>
                <div class="flex flex-wrap gap-2 my-2 hidden" id="materialSelect">
                    <div class="">
                        <div class="flex">
                            <input type="checkbox" value="acetate" name="productAcetate" id="productFilterAcetate" class="productFilterMaterialsCheckboxClass peer form-checkbox rounded-md hidden">
                            <label for="productFilterAcetate" class="px-4 py-2 border-b-2 border-red-400 text-red-400 font-medium opacity-50 peer-checked:opacity-100">Acetate</label>
                        </div>
                    </div>
                    <div class="">
                        <div class="flex">
                            <input type="checkbox" value="stainless steel" name="productStainlessSteel" id="productFilterStainlessSteel" class="productFilterMaterialsCheckboxClass peer form-checkbox rounded-md hidden">
                            <label for="productFilterStainlessSteel" class="px-4 py-2 border-b-2 border-green-400 text-green-400 font-medium opacity-50 peer-checked:opacity-100">Stainless Steel</label>
                        </div>
                    </div>
                    <div class="">
                        <div class="flex">
                            <input type="checkbox" value="titanium" name="productTitanium" id="productFilterTitanium" class="productFilterMaterialsCheckboxClass peer form-checkbox rounded-md hidden">
                            <label for="productFilterTitanium" class="px-4 py-2 border-b-2 border-blue-400 text-blue-400 font-medium opacity-50 peer-checked:opacity-100">Titanium</label>
                        </div>
                    </div>
                    <div class="">
                        <div class="flex">
                            <input type="checkbox" value="tr90" name="productTr90" id="productFilterTr90" class="productFilterMaterialsCheckboxClass peer form-checkbox rounded-md hidden">
                            <label for="productFilterTr90" class="px-4 py-2 border-b-2 border-pink-400 text-pink-400 font-medium opacity-50 peer-checked:opacity-100">Tr90</label>
                        </div>
                    </div>
                </div>
            </li>
            <li class="p-2 px-4 relative basis-4/12 xl:basis-3/12">
                <button type="button" id="modifiersButton" class="text-xl font-bold hover:text-[#ed4264] dark:hover:text-[#eacda3]">MODIFIERS <span class="rotate-[90deg] inline-block ">&#8227;</span></button>
                <div class="flex flex-wrap gap-2 hidden my-2" id="modifiersSelect">
                    <div class="flex">
                        <input type="checkbox" name="productNewArrival" id="productFilterNewArrival" class="productFilterModifiersCheckboxClass peer form-checkbox rounded-md hidden">
                        <label for="productFilterNewArrival" class="px-4 py-2 border-b-2 border-rose-400 text-rose-400 font-medium opacity-50 peer-checked:opacity-100">NEW ARRIVAL</label>
                    </div>
                    
                    <div class="flex">
                        <input type="checkbox" name="productOnSale" id="productFilterOnSale" class="productFilterModifiersCheckboxClass peer form-checkbox rounded-md hidden">
                        <label for="productFilterOnSale" class="px-4 py-2 border-b-2 border-yellow-400 text-yellow-400 font-medium opacity-50 peer-checked:opacity-100">ON SALE</label>
                    </div>

                    <div class="flex">
                        <input type="checkbox" name="productHidden" id="productFilterHidden" class="productFilterModifiersCheckboxClass peer form-checkbox rounded-md hidden">
                        <label for="productFilterHidden" class="px-4 py-2 border-b-2 border-slate-400 text-slate-400 font-medium opacity-50 peer-checked:opacity-100">HIDDEN</label>
                    </div>
                </div>
            </li>
            <li class="p-2 px-4 relative basis-4/12 xl:basis-3/12">
                <button type="button" id="typeButton" class="text-xl font-bold hover:text-[#ed4264] dark:hover:text-[#eacda3]">TYPES <span class="rotate-[90deg] inline-block ">&#8227;</span></button>
                <div class="flex flex-wrap gap-2 hidden my-2" id="typeSelect">
                    <div class="flex">
                        <input type="checkbox" name="productEyeglasses" id="productFilterEyeglasses" value="eyeglasses" class="productFilterTypesCheckboxClass peer form-checkbox rounded-md hidden">
                        <label for="productFilterEyeglasses" class="px-4 py-2 border-b-2 border-slate-400 text-slate-400 font-medium opacity-50 peer-checked:opacity-100">EYEGLASSES</label>    
                    </div>
                    
                    <div class="flex">
                        <input type="checkbox" name="productSunglasses" id="productFilterSunglasses" value="sunglasses" class="productFilterTypesCheckboxClass peer form-checkbox rounded-md hidden">
                        <label for="productFilterSunglasses" class="px-4 py-2 border-b-2 border-slate-400 text-slate-400 font-medium opacity-50 peer-checked:opacity-100">SUNGLASSES</label>    
                    </div>
                    
                    <div class="flex">
                        <input type="checkbox" name="productClipOn" id="productFilterClipOn" value="clip on" class="productFilterTypesCheckboxClass peer form-checkbox rounded-md hidden">
                        <label for="productFilterClipOn" class="px-4 py-2 border-b-2 border-slate-400 text-slate-400 font-medium opacity-50 peer-checked:opacity-100">CLIP ON</label>    
                    </div>
                </div>
            </li>
            <li class="p-2 px-4 relative basis-4/12 xl:basis-3/12">
                <button type="button" id="shapesButton" class="text-xl font-bold hover:text-[#ed4264] dark:hover:text-[#eacda3]">SHAPES <span class="rotate-[90deg] inline-block ">&#8227;</span></button>
                <div class="flex flex-wrap gap-2 hidden my-2" id="shapesSelect">
                    <div class="flex">
                        <input type="checkbox" name="productRound" id="productFilterRound" value="round" class="productFilterShapesCheckboxClass peer form-checkbox rounded-md hidden">
                        <label for="productFilterRound" class="px-4 py-2 border-b-2 border-slate-400 text-slate-400 font-medium opacity-50 peer-checked:opacity-100">ROUND</label>    
                    </div>
                    
                    <div class="flex">
                        <input type="checkbox" name="productCatEye" id="productFilterCatEye" value="cat eye" class="productFilterShapesCheckboxClass peer form-checkbox rounded-md hidden">
                        <label for="productFilterCatEye" class="px-4 py-2 border-b-2 border-slate-400 text-slate-400 font-medium opacity-50 peer-checked:opacity-100">CAT EYE</label>    
                    </div>
                    
                    <div class="flex">
                        <input type="checkbox" name="productRectangle" id="productFilterRectangle" value="rectangle" class="productFilterShapesCheckboxClass peer form-checkbox rounded-md hidden">
                        <label for="productFilterRectangle" class="px-4 py-2 border-b-2 border-slate-400 text-slate-400 font-medium opacity-50 peer-checked:opacity-100">RECTANGLE</label>    
                    </div>
                    
                    <div class="flex">
                        <input type="checkbox" name="productWayfare" id="productFilterWayfare" value="wayfare" class="productFilterShapesCheckboxClass peer form-checkbox rounded-md hidden">
                        <label for="productFilterWayfare" class="px-4 py-2 border-b-2 border-slate-400 text-slate-400 font-medium opacity-50 peer-checked:opacity-100">WAYFARE</label>    
                    </div>
                    
                    <div class="flex">
                        <input type="checkbox" name="productSquare" id="productFilterSquare" value="square" class="productFilterShapesCheckboxClass peer form-checkbox rounded-md hidden">
                        <label for="productFilterSquare" class="px-4 py-2 border-b-2 border-slate-400 text-slate-400 font-medium opacity-50 peer-checked:opacity-100">SQUARE</label>    
                    </div>
                    
                    <div class="flex">
                        <input type="checkbox" name="productOval" id="productFilterOval" value="oval" class="productFilterShapesCheckboxClass peer form-checkbox rounded-md hidden">
                        <label for="productFilterOval" class="px-4 py-2 border-b-2 border-slate-400 text-slate-400 font-medium opacity-50 peer-checked:opacity-100">OVAL</label>    
                    </div>
                    
                    <div class="flex">
                        <input type="checkbox" name="productGeometric" id="productFilterGeometric" value="geometric" class="productFilterShapesCheckboxClass peer form-checkbox rounded-md hidden">
                        <label for="productFilterGeometric" class="px-4 py-2 border-b-2 border-slate-400 text-slate-400 font-medium opacity-50 peer-checked:opacity-100">GEOMETRIC</label>   
                    </div>
                    
                    <div class="flex">
                        <input type="checkbox" name="productAviator" id="productFilterAviator" value="aviator" class="productFilterShapesCheckboxClass peer form-checkbox rounded-md hidden">
                        <label for="productFilterAviator" class="px-4 py-2 border-b-2 border-slate-400 text-slate-400 font-medium opacity-50 peer-checked:opacity-100">AVIATOR</label>    
                    </div>
                        
                    <div class="flex">
                        <input type="checkbox" name="productClubmaster" id="productFilterClubmaster" value="clubmaster" class="productFilterShapesCheckboxClass peer form-checkbox rounded-md hidden">
                        <label for="productFilterClubmaster" class="px-4 py-2 border-b-2 border-slate-400 text-slate-400 font-medium opacity-50 peer-checked:opacity-100">CLUBMASTER</label>
                    </div>
                </div>
            </li>
            <li class="p-2 px-4 relative basis-4/12 xl:basis-3/12">
                <button type="button" id="dimensionsButton" class="text-xl font-bold hover:text-[#ed4264] dark:hover:text-[#eacda3]">DIMENSIONS <span class="rotate-[90deg] inline-block ">&#8227;</span></button>
                <div id="dimensionsSelect" class="flex flex-wrap gap-2 my-2 hidden">
                    <div class="flex flex-wrap flex-row gap-1">
                        <div class="flex max-w-[48%] flex-col justify-center">
                            <label for="productFilterEyeMin" class="">eye min: </label>
                            <input type="number" name="productEyeMin" id="productFilterEyeMin" class="form-input rounded-md text-black bg-transparent focus:outline-none focus:border-[#eacda3] focus:ring-[#eacda3] border border-gray-700 dark:border-gray-300 dark:text-white" min="0">
                        </div>
                        <div class="flex max-w-[48%] flex-col justify-center">
                            <label for="productFilterEyeMax" class="">eye max: </label>
                            <input type="number" name="productEyeMax" id="productFilterEyeMax" class="form-input rounded-md text-black bg-transparent focus:outline-none focus:border-[#eacda3] focus:ring-[#eacda3] border border-gray-700 dark:border-gray-300 dark:text-white" min="0">
                        </div>
                    </div>
                    <div class="flex flex-wrap flex-row gap-1">
                        <div class="flex max-w-[48%] flex-col justify-center">
                            <label for="productFilterBridgeMin" class="">bridge min: </label>
                            <input type="number" name="productBridgeMin" id="productFilterBridgeMin" class="form-input rounded-md text-black bg-transparent focus:outline-none focus:border-[#eacda3] focus:ring-[#eacda3] border border-gray-700 dark:border-gray-300 dark:text-white" min="0">
                        </div>
                        <div class="flex max-w-[48%] flex-col justify-center">
                            <label for="productFilterBridgeMax" class="">bridge max: </label>
                            <input type="number" name="productBridgeMax" id="productFilterBridgeMax" class="form-input rounded-md text-black bg-transparent focus:outline-none focus:border-[#eacda3] focus:ring-[#eacda3] border border-gray-700 dark:border-gray-300 dark:text-white" min="0">
                        </div>
                    </div>
                    <div class="flex flex-wrap flex-row gap-1">
                        <div class="flex max-w-[48%] flex-col justify-center">
                            <label for="productFilterTempleMin" class="">temple min: </label>
                            <input type="number" name="productTempleMin" id="productFilterTempleMin" class="form-input rounded-md text-black bg-transparent focus:outline-none focus:border-[#eacda3] focus:ring-[#eacda3] border border-gray-700 dark:border-gray-300 dark:text-white" min="0">
                        </div>
                        <div class="flex max-w-[48%] flex-col justify-center">
                            <label for="productFilterTempleMax" class="">temple max: </label>
                            <input type="number" name="productTempleMax" id="productFilterTempleMax" class="form-input rounded-md text-black bg-transparent focus:outline-none focus:border-[#eacda3] focus:ring-[#eacda3] border border-gray-700 dark:border-gray-300 dark:text-white" min="0">
                        </div>
                    </div>
                </div>
            </li>
            <li class="p-2 px-4 text-xl font-bold hover:text-[#ed4264] dark:hover:text-[#eacda3] basis-4/12 xl:basis-3/12">
                <button type="submit" class="" id="applyFiltersButton">
                    APPLY FILTERS
                </button>
            </li>
        </ul>
    </form>
</div>