<%- include("./partials/header") %>
<main class="flex-grow">
    <div class="w-full min-h-screen"></div>
    <%- include("./partials/filterForm") %>
    <section id="productsContainer" class="max-w-none mx-auto p-6 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 justify-between gap-4" data-product-count="<%- (glasses.length < initialMaxProductCount ? glasses.length : initialMaxProductCount) %>" data-total-product-count="<%- glasses.length %>">
        <%- include("./partials/productListings") %>
        
        
    </section>
    <%- include("./partials/loadMoreButton") %>
</main>
<script src="/scripts/chooseVariant.js" defer></script>
<script src="/scripts/getProducts.js"></script>
<script src="/scripts/loadMoreButton.js" defer></script>
<script src="/scripts/hideFilterSelect.js" defer></script>
<script src="/scripts/applyFilters.js" defer></script>
<%- include("./partials/footer") %>
    